<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UtilityApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <UtilityApp.Properties.Settings>
            <setting name="GatewayAddress" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="CheckInterval" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="ShutdownThreshold" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="EnableCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugCheck" serializeAs="String">
                <value>False</value>
            </setting>
        </UtilityApp.Properties.Settings>
    </userSettings>
</configuration>